.date {
  color: grey;
}
.paragraph {
  text-align: justify;
}
.link {
  font-weight: normal;
  color: #5c48d3;
}
.homePageRedirect {
  color: #333;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -96px;
}
