.projectsContainer {
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--blue-grey-3);
  margin-bottom: 4vh;
  font-size: 2em;
}

/*
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
*/
